body{
    background-image: url('../img/backgroundOcean.jpg');
}

.human-body{
    margin-top: 7vh;
    margin-right: 30vw;
    position:relative;
}
.body-image {
    border-radius: 10px;
}

.point {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ff5722;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.point:hover {
    background-color: #ffab91;
}

.pointEm {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ff5722;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pointAn {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ff5722;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pointCo {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ff5722;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pointMa {
    position: absolute;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #ff5722;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.info-box {
    position: fixed;
    top: 20%;
    right: 2%;
    width: 25vw;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
}

.info-box h3 {
    margin-top: 0;
    color: #003366;
    font-size: 30px;
}

.info-box p {
    font-size: 18px;
    color: #333;
}
.info-box .info-image {
    width: 20vw; 
    height: 20vh;
    object-fit: cover;
    border-radius: 12px;
    border: 2px solid #ccc;
    margin: 0 auto 10px auto;
    display: block;
}
.hidden {
    display: none;
}


