body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.half {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 0 100%); /* Initial clip-path */
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.2 ease-in-out; /* Transition fluide pour tous les changements */
}

.top {
    background-image: url('../img/homme.jpg'); /* Remplacez par le chemin de l'image pour "Terre" */
}

.bottom {
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background-image: url('../img/backgroundOcean.jpg'); /* Remplacez par le chemin de l'image pour "Mer" */
}

.text {
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.text.terre {
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.text.mer {
    bottom: 25%;
    right: 25%;
    transform: translate(50%, 50%);
}

/* Classes pour l'animation */
.expand {
    transform: scale(1.1); /* Légère augmentation */
    z-index: 10; /* Placer au-dessus de l'autre */
    opacity: 1;
}

.final-expand {
    transform: scale(2); /* Agrandissement complet */
    opacity: 1;
}
